
 *{
   margin: 0;
 }

.font-inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


    /* ===== NAVBAR ===== */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 120px;
      background: #ffffff;
    }

    header .logo {
      width: 139px;
      height: 60px;
    }

    header nav a {
      margin: 0 15px;
      text-decoration: none;
      color:black;
    }

    .btn {
      background: #22c55e;
      color: #fff;
      padding: 10px 18px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 16px;
      font-weight:semi-bold;
    }
.n-btn{
  color: #fff;
  border: 1px solid white;
  border-radius:5px ;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 14px;
}
    /* ===== HERO ===== */
    .hero {
      background:url(..//assets/hero-bg.png);
      background-size: cover;
      color: #fff;
      text-align: center;
      padding: 70px 120px 134px ;
    }
.hero button{
  padding: 8px 12px;
  /* gap: 6px; */
  border-radius: 1000px;
  color: #30b868;
}
    .hero h1 {
      font-size: 42px;
    }

    .hero-span {
      color: #22c55e;
    }

    .hero p {
    
      max-width:1360px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: regular;
      line-height: 24px;
    }

    .hero .btn {
      margin-top: 20px;
      display: inline-block;
    }

    /* Features Section */
    .features {
      padding: 120px 120px 120px 120px;
      gap: 44px;
      text-align: center;
      background: #ffffff;
  
    }

    .features h2 {
      font-size:48px;
      font-weight: bold;
      line-height: auto;
      margin-bottom: 10px;
    }

    .features p {
      color:#637327;
     font-weight: 16px;
     line-height: auto;
    }

    .card-container {
      display: flex;
      gap: 44px;
      justify-content: center;
      width:1360px ;
      height:300px ;
    }

    .card {
      background: #ffffff;
      padding: 24px;
      width: 322px;
      height: 300px;
      border-radius: 8px;
      gap: 16px;
      box-shadow: 0 10px 25px rgba(0,0,0,.08);
      margin-top: 44px ;
    }

    .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background:#f95555;
      color: #ffffff;
      display: flex;
      align-items: center;
      
      justify-content: center;
      /* font-size: 18px; */
      margin: 0 auto 15px;
    }

    .card h3 {
      font-size: 24px;
      margin-bottom: 8px;
    }

    .card p {
      font-size: 16px;
      color: #627327;
    }




        /* ===== BRAIN SECTION ===== */
    
  .knowledge{
     display: flex;
      align-items: center;
      padding: 120px 120px;
      gap: 60px;
  }
 .knowledge .knowledge-img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
  }
.knowledge .knowledge-container{
  width: 700px;
  gap: 40px;
  align-items: left;
}
.knowledge-content{
  margin-bottom: 40px;
align-items: left;
}
.knowledge-content p{
  font-size: 16px;
  color: #627282;
}
.knowledge-content h1{
  font-size: 48px;
  font-weight: bold;
  margin: 16px 0;
}
.knowledge-list{
width: 700px;
height: 128px;
gap: 16;
text-decoration: none;
align-items: left;
}